<style>
#timeline {
  margin: 0 auto;
  line-height: 1.5;
}

#timeline section.year {
    position: relative;

    padding: 1em 0em;
    margin-left: 3.5em;
    border-left: 2px solid rgba(.3, .3, .3, .3);
}

#timeline section.year:last-child {
    border-image: linear-gradient(to bottom, rgba(.3, .3, .3, .3) 60%, rgba(.3, .3, .3, 0)) 1 100%;
}

/* The circle and year */
#timeline .year-mark {
    position: absolute;
    top: 1em;
    left: -8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    width: 10px;
    height: 10px;
    background: #C5C5C5;
    border: 2px solid #ffffff;
    border-radius: 10px;
    z-index: 2;
}

#timeline .year-mark::before {
    content: attr(data-year);
    font-size: 1rem;
    font-weight: bold;

    margin-right: 1em;
}
@media (min-width: 62em) {
    #timeline .year-mark::before {
        font-size: 1.1rem;
    }
}

#timeline section.year ul {
  list-style-type: none;
  padding: 0 0 0 2em;
  margin: 0em;
  font-size: 1em;
}
@media (min-width: 62em) {
  #timeline section.year section ul {
    font-size: 1.1em;
    padding: 0 0 0 2.2em;
  }
}

#timeline section.year section ul li {
  margin-left: .5rem;
  list-style: none;
}
#timeline section.year section ul li:before {
  content: '·';
  margin-left: -.5rem;
  padding-right: .3rem;
}
#timeline section.year section ul li:not(:first-child) {
  margin-top: .5rem;
}
</style>

<%
/**
 * Join authors
 * @param {*} arr 
 */
function join_authors(arr) {
    let result = "";
    if (arr.length === 1) {
        result = arr[0];
    } else if (arr.length === 2) {
        //joins all with "and" but no commas
        //example: "bob and sam"
        result = arr.join(__(' and '));
    } else if (arr.length > 2) {
        //joins all with commas, but last one gets ", and" (oxford comma!)
        //example: "bob, joe, and sam"
        result = arr.slice(0, -1).join(__(', ')) + __(', and ') + arr.slice(-1);
    }
    return result;
}
hexo.extend.helper.register('join_authors', join_authors);

%>

<div id="timeline">
    <% let year = ''; %>
    <% let publications = page.site.data.publications.items; %>
    <% publications = publications.sort((a, b) => { return a.conference.date < b.conference.date; }); %>
    <% publications.forEach(pub => { %>
        <% pub.year = date(pub.conference.date, 'YYYY'); %>
        <% if (year !== pub.year) { %>
            <%# close previous section #%>
            <% if (year !== '') {%>
                </ul>
            </section>
            <% } %>
            <%# open new year section #%>
            <% year = pub.year; %>
            <section class="year">
                <span class="year-mark" data-year="<%= year %>"></span>
                <ul>
        <% } %>

        <%# A single block for a paper #%>
        <li>
            <div>
                <span class="pub-title"><%= pub.title %></span>
                <span class="pub-authors">
                    <% pub.authors.forEach((author, idx) => { %>
                        <% if (pub.authors.length > 2 && idx > 0) {%>
                            <%= __(",") %>
                        <% } %>
                        <%# space matters here #%>
                        <% if (idx === pub.authors.length - 1 && pub.authors.length > 1) {%>
                            <%= __("and") %>
                        <% } %>
                        <%# space matters here #%>
                        <span class="pub-author pub-author-<%= author.replace(' ', '-') %>">
                            <%= author %>
                        </span>
                    <% }); %>
                </span>
                <span>
                    <%= pub.conference.name %> (
                        <a title="<%= pub.conference.acceptance %>"
                           href="<%= pub.conference.url %>"><%= pub.conference.shortname %></a>
                    )
                </span>
                <div class="pub-links">
                    <% pub.links.forEach(link => { %>
                        <% let [link_name, link_url] = link.split(' || '); %>
                        <a href="<%= link_url %>">[<%= link_name %>]</a>
                    <% }); %>
                    <a class="pub-link-bibtex">[bibtex]</a>
                    <a class="pub-link-abstract">[abstract]</a>
                </div>
            </div>
        </li>

    <% }); %>
    <%# close last section #%>
    <% if (year !== '') {%>
        </section>
    <% } %>
</div>
